# macOS
.DS_Store

# setup.command 実行後に生成される、配布に含めないフォルダ
portable-python-vscode/python/
portable-python-vscode/vscode/
portable-python-vscode/VS Code Python.app/
portable-python-vscode/launch-vscode.app/
